:root{
    font-family: 'Roboto', sans-serif;
}


.container{
  height: 300px;
  text-align: center;
  align-content: center; /* Centra todo el contenido en relación al height del padre */
  display: flex;
  border: 2px solid black;
  flex-flow: row wrap;
  justify-content: center; /* Centra el contenido en función al width del padre */
  justify-content: space-between;
  /* flex-flow: column; */
}

.item{
  box-sizing: border-box;
  width: 200px;
  border: 1px solid black;
  background-color: coral;
  color: white;

}

.item-1{
    background-color: black;
      /* flex-basis: 400px; */
}


 .item-2{
  flex-grow: 1;
  align-items: flex-end; 
}
/*
.item-3{
  flex-grow: 2;
}

.item-4{
  flex-grow: 1;
} */
