body{
	font-size: 22px;
}


.rem{
	font-size: 2rem; /* Rem, hereda del dispositivo o navegador */
}


/* .div-padre{
	font-size: 40px;
} */

.em{
	font-size: 2em; /* Em, Hereda del padre más cercano, en este caso del body 22px */
}


.px{
	font-size: 16px;
}

.border{
	border: 20px solid green;
}

section{
	margin: 100px 50px;
}

h1 {
	padding: 40px;
}